.projects {
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
  position: relative;
}

.hero-container-3 .hero-shape-1 {
  position: absolute;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: hero-circle-1;
  right: -4%;
  top: 10%;
  z-index: -100;
}

.hero-container-3 .hero-shape-6 {
  position: absolute;
  z-index: -100;
  bottom: -25px;
  left: -30px;
  animation: hero-dot-1 5s linear 0s infinite alternate;
}

.hero-container-3 .hero-shape-6-extra {
  position: absolute;
  z-index: -100;
  bottom: -25px;
  right: -30px;
  animation: hero-dot-1 5s linear 0s infinite alternate;
}

.projects h1 {
  color: white;
}

.projects-container {
  gap: 20px;
  place-items: center;
  justify-content: center;
}

.projects-container .card {
  text-align: left;
  max-width: 420px;
  height: 100% !important;
}

.see-more {
  text-decoration: none;
  color: black;
}

.view-details {
  border: 0;
  padding: 5px 15px;
  background-color: rgb(255, 49, 49);
  color: white;
  border-radius: 8px;
}

.view-details:hover {
  background-color: rgb(169, 0, 0);
}

.links {
  font-size: 22px;
}

.links a {
  color: black;
}

.links a:hover {
  color: #ffb352;
}
