.projects {
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
}

.projects h1 {
  color: white;
}

.projects-container {
  gap: 20px;
  place-items: center;
  justify-content: center;
}

.projects-container .card {
  text-align: left;
  max-width: 420px;
  height: 100% !important;
}

.see-more {
  text-decoration: none;
  color: black;
}

.view-details {
  border: 0;
  padding: 5px 15px;
  background-color: rgb(255, 49, 49);
  color: white;
  border-radius: 8px;
}

.view-details:hover {
  background-color: rgb(169, 0, 0);
}

.links {
  font-size: 22px;
}

.links a {
  color: black;
}

.links a:hover {
  color: #ffb352;
}
