.about-me-container {
  font-family: "Raleway", sans-serif;
  color: white;
  position: relative;
}

.about-me-container h1 {
  text-align: center;
  margin-top: 20px;
}

.about-me-inner-container {
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 10%;
}

.about-me-img-container {
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #606060);
  /* display: grid;
  place-items: center; */
}

.about-me-img {
  border-radius: 2rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 0.4s ease;
}

.about-me-img:hover {
  transform: rotate(0deg);
}

.about-me-img img {
  width: 100%;
}

.about-me-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about-card {
  /* background: var(--color-bg-variant); */
  border: 1px solid white;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  /* transition: all 0; */
}

.about-icon {
  color: #ffb352;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.about-me-content p {
  text-align: left;
  font-size: 1.1rem;
}

@media screen and (max-width: 992px) {
  .about-me-inner-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-me-img-container {
    width: 50%;
    margin: 2rem auto 4rem;
  }
}

.hero-container-2 .hero-shape-2 {
  position: absolute;
  right: -8%;
  z-index: -100;
  bottom: 29%;
  transform: rotate(180deg);
}

.hero-container-2 .hero-shape-6 {
  position: absolute;
  left: 33%;
  bottom: -25px;
  z-index: -100;
  animation: hero-dot-1 5s linear 0s infinite alternate;
}

.hero-container-2 .hero-shape-3 {
  position: absolute;
  z-index: -100;
  left: -3%;
  top: 20%;
  animation: hero-circle-1 5s linear 0s infinite alternate;
}

@media screen and (max-width: 768px) {
  .about-me-img-container {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about-me-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about-me-content {
    text-align: center;
  }

  .about-me-content p {
    margin: 1.5rem 0;
  }
}
